<mat-toolbar>
   <a [routerLink] = "['/signin']">My Application</a>
    <span class = "example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor] = "menu" *ngIf = "isAuthorized">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <mat-menu #menu = "matMenu">
      <button mat-menu-item>
        <span>Stuff</span>
      </button>
      <button mat-menu-item>
        <span>And</span>
      </button>
      <button mat-menu-item (click) = "logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
</mat-toolbar>
