mat-toolbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;

}

i {
  transform: scale(2);
}
