<div class = "keys" *ngIf = "showKeyPanel">
  <mat-selection-list *ngIf = "keys > 0; else add_key_message" >
  </mat-selection-list>

  <ng-template #add_key_message>
    <h1> No Saved Keys Found</h1>
    <button mat-raised-button id = "add_key"
            (click) = "addKeyToggle()">ADD KEY</button>
  </ng-template>
</div>

  <form [formGroup] = "addKeyForm"
        class = "add_key_form"
        *ngIf = "showAddKeyForm"
        (ngSubmit) = "onSubmit()">
    <h1>Bitmex API Key </h1>
    <mat-form-field>
      <input matInput placeholder = "API Key"
                      formControlName = "key">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder = "API Secret"
                      formControlName = "secret">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder = "Choose A Key Name"
                        formControlName = "name">
      </mat-form-field>
    <button mat-raised-button
            type = "submit"
            matTooltip = "All api keys/secrets must be issued from Bitmex!">ADD</button>
    </form>


